<!DOCTYPE html>
<html>
	
	<link rel="icon" type="image/png" href="images/IconSP.png"/>

<head>
	<title>
		Inserisci un nuovo prodotto
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body style="overflow: hidden;">
	<header>
    <div style="float:left"><a href="/">Home</a></div>
    <div th:if="${#request.userPrincipal}">
		<span class="nomeUtenteLoggato" th:text="${#request.userPrincipal.principal.username}"></span>
    		<a href="/logout">Logout</a>
	</div>

	<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
	</div>
	</header>

	
	<div class = "logo"><img src="/images/SiwPLogo.png"/></div>
	<h1>Aggiungi un Prodotto</h1>
	</div>
	<form class ="formNew" th:action="@{/admin/newProdotto}" method="POST" th:object="${prodotto}" enctype="multipart/form-data">
		
		<div th:if="${#fields.hasGlobalErrors()}">
    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
</div>
		
	
		
		<div>
			<label>Nome:</label> 
			<span><input type="text" minlength="1" th:field="${prodotto.nome}" /></span>
			<span class="error-message" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
		</div>
		
		<div>
			<label>Prezzo:</label> 
			<span><input type="number" min="0" step="1" th:field="${prodotto.prezzo}" /></span>
			<span class="error-message" th:if="${#fields.hasErrors('prezzo')}" th:errors="*{prezzo}">
		</div>
		
		<div class= "descrizioneContainer">
    <label for="text"> <p>Descrizione: </p></label>
    <textarea id="text" class="descrizione" name="descrizione" minlength="1" th:field="${prodotto.descrizione}"> </textarea>
    <span class="error-message" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">
</div>

<div>
        <label>Immagine:</label>
         <input type="file" th:name="file" />
        </span>
    </div>
		
		
		<div>
			<span><button class = "conferma" type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>