
<html>
	
	<link rel="icon" type="image/png" href="images/IconSP.png"/>

<head>
	<title>
		SiwProducts - Catalogo
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
    <div style="float:left"><a href="/">Home</a></div>
    <div th:if="${#request.userPrincipal}">
		<span class="nomeUtenteLoggato" th:text="${#request.userPrincipal.principal.username}"></span>
    		<a href="/logout">Logout</a>
	</div>

	<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
	</div>
	</header>

	<img class="logo" src="/images/SiwPLogo.png"/>

    		 <form th:action="@{/guest/cercaProdotti}" method="post" class="search-form">
    <label for="searchInput" class="search-label"> <p> Ricerca prodotti per nome </p> </label>
  <div class="search-bar">
    <input type="text" th:value="${nome}" name="nome" id="searchInput" class="boxricerca" />
    <input type="submit" class="search-button"/>
  </div>
</form>
	
    <div class="boxFornitore">
		
		<div th:class="${0 == idFornitore} ? 'fornitoreSelezionato' : 'dettagliFornitore'">
			<a th:href="@{'/guest/catalogo/' + '0'}">Tutti i fornitori</a>
        </div>
        
    <div th:each="fornitore : ${fornitori}" 
         th:id="${fornitore.id}">
        
        <div th:class="${fornitore.id == idFornitore} ? 'fornitoreSelezionato' : 'dettagliFornitore'">
			<a th:text="${fornitore.nome}" th:href="@{'/guest/catalogo/' + ${fornitore.id}}"></a>
        </div>
      
    </div>
</div>   
    
      <div class="boxProdotto" style="display: flex; flex-wrap: wrap;">
        
        
        
         <div th:each="prodotto : ${prodotti}">
           
       <div class="prodotto" th:if="${prodotto.image == null || prodotto.getDataImage() == null}">
    <img src="/images/SiwPLogo.png" />
    <div>
        <a th:text="${prodotto.nome}" th:href="@{'/guest/prodotto/' + ${prodotto.id}}">Prodotto</a>
    </div>
</div>

        
       
        
         <div class="prodotto" th:if="${prodotto.image != null && prodotto.getDataImage() != null}">
             <img th:src="@{'data:image/png;base64,' + ${prodotto.getDataImage()}}"/>
      <div>
        <a th:text="${prodotto.nome}" th:href="@{'/guest/prodotto/' + ${prodotto.id}}">Prodotto</a>
    </div>
</div>
           
        

      
    </div>
      
    </div> 
    
</body> 

</html>