<html>
	
	<link rel="icon" type="image/png" href="images/IconSP.png"/>

<head>
	<title th:text="${prodotto.nome} + ' - SiwProducts - Prodotto'">
	</title>

	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
    <div style="float:left"><a href="/">Home</a></div>
    <div th:if="${#request.userPrincipal}">
		<span th:text="'Bentornato ' + ${#request.userPrincipal.principal.username}"></span>
    		<a href="/logout">Logout</a>
	</div>

	<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
	</div>
	</header>

	<div class="logoProdotto"><img src="/images/SiwPLogo.png"/></div>
  <h1 th:text="${prodotto.nome}" class ="prodottoTitle"> Galaxy note10 </h1>
  
  <div class="descrizioneProdotto" style="word-wrap: break-word;">
    <p th:text="${prodotto.descrizione}"></p>
  </div>
  
  <div class = "boxImage"> 
        <img th:if="${prodotto.getImage() == null}" src="/images/SiwPLogo.png" />
		<img th:if="${prodotto.getImage() != null}" th:src="@{'data:image/png;base64,' + ${prodotto.getDataImage()}}"/>

      </div>
      
      
      <div class="divRecensioni">
        
        <div class = "Recensione" th:if="${commentoUtente != null}"> 
          <div class="titoloCommento" th:text="${commentoUtente.titolo}"> Titolo</div>
            <div class ="votoCommento" th:text="${commentoUtente.voto} + '/5'" > 3/5 </div>
          <div th:text="${commentoUtente.testo}" style="word-wrap: break-word;">  </div>
        </div>
        
        <div class = "Recensione" th:if="${commentoUtente == null}"> 
          <a th:href="@{'/authenticated/formNewCommento/' + ${prodotto.id}}" class="aggiungiCommento"> Aggiungi commento</a>
        </div>
        
        <div th:each="commento : ${commenti}"> 
        
            <div class = "Recensione"> 
          <p class="titoloCommento" th:text="${commento.titolo}"> Titolo</p>
            <p class ="votoCommento" th:text="${commento.voto} + '/5'"> 3/5 </p>
          <div th:text="${commento.testo}" style="word-wrap: break-word;">  </div>
        </div>
        
        
        </div>
        
        
</div>
      
      </body>
</html>