body { 
    font-family: system-ui;
    color:black;
    font-size: 15px;
    background-color:white;
    margin: 0 auto;
    overflow:auto;
}

a { 
	text-decoration: none; 
  	color: darkgrey;
  	float:center;
}

a:hover { 
	text-decoration: underline; 
}

label {
	width: 8em;
	display: inline-block;
}

header {
  background-color:limegreen;
  height: 30px;
  padding: 0.5em;
  
}

header span{
	position:relative;
	left:81em;
	font-size: 20px;
}

header a{ 
	  text-decoration: none; 
    color: black;
    font-size: 20px;
    display:inline;
    float:right;
}

.home{
  float:left;
  color:black;
  margin-right:20px;
} 


.search-form{
  position:absolute;
  display:inline-block;
  left:50%;
  bottom:70%;
}

.search-label p {
  text-align:center;
  margin-bottom:1px;
  white-space:nowrap;
  font-size:25px;
}


.search-button {
  position:relative;
  color:transparent;
  background-color:transparent;
  width: 24px; 
  height: 24px; 
  background-image:url("https://cdn-icons-png.flaticon.com/512/622/622669.png"); 
  background-size: cover; 
  border: none; 
  cursor: pointer;
  right:-5px;
  top:7px;
}

.boxricerca{
  width:13em;
  height:1em;
	width:20em;
}


.logo{
	position:absolute;
  display:flex;
  justify-content: center;
  left:5%;

}




h1{
  position:relative;
  font-size: 40px;
  text-align:center;
}


input{
  font-size: 30px;
}


.error-message {
  	color: red;
  	font-style: italic;
}

.descrizione{
  width:30em;
  height:10em;
  font-size:15px;
}

.descrizioneContainer p{
position:relative;
  bottom:3.5em;
    
}


.boxRecensioni{
  position:relative;
  left:70%;
  bottom:250px;
  width:30em;
  height:40em;

}

.boxRecensioni .recensione{
  position:relative;
  width:100%;
  height:20%;
  bottom:100px;
border:solid;
  }

.recensione .conferma{
  position:absolute;
  bottom:0px;
  right:0px;
  
}

.recensioni .conferma{
  position:absolute;
  bottom:0px;
  right:0px;
  
}

.recensioni #titolo{
font-weight:bold;
  
}

.recensioni .testo{
	position: absolute;
  	margin: 2px;
}

.recensione #titolo{
font-weight:bold;
  
}

.recensione .testo{
	position: absolute;
  	margin: 2px;
}

.boxFornitore{
  position:relative;
border:solid;
  width:25em;
  top:240px;
  height:100vh;
  float:left;
  background-color:lightgrey;
}

.boxProdotto{
  position:relative;
  left:0em;
  top:240px;
  border:solid;
  width:90em;
  height:100vh;
  float:left;
  align-content: start;
}

.fornitoreSelezionato{
  background-color:mediumpurple; 
	position:relative;
  margin-top:20px;
  height:40px;
  width:99.5%;
  display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fornitoreSelezionato a{
  font-size:30px;
  color:black;
}

.fornitore{
  background-color: #FFFFFF;
}

.dettagliFornitore{
  position:relative;
  margin-top:20px;
  height:40px;
  width:99.5%;
  display: flex;
    justify-content: center;
    align-items: center;
    
}

.dettagliFornitore a{
  font-size:30px;
  color:black;
	
}

.boxIndex{
  position:relative;
  margin:0 auto;
	top:100px;
  background-color:lightgrey;
  width:60%;
  height:30%;
   display: flex;
  flex-direction: column;
    justify-content: space-around;
    align-items: center;
  padding:40px;
}

.boxIndex a{
  font-size:30px;
  color:white;
}

.container {
  position:relative;
  top:100px;
  width:80%;
  left:10em;
  display: flex;
  justify-content: space-between;
 }
        
.list {
 position:relative;
	left:5%;  
    width: 40%;
    font-size:20px;
  }

.log div {
  position:relative;
	right:90%;
	top:60%;
  text-align:center;
  color:black;
  padding: 6px;
}

.log button{
	position:relative;
	left:90px;
	width:80%;
	height:30px;
	font-size:20px;
	background-color:limegreen;
	
}

.tastoAddImage{
	position:relative;
	left:70px;
}

.log a{
	padding:5px;
	margin-left: 10%;
	
}

.log input{
	padding:5px;
	margin-left: 10%;
	
}

.log1{
  position:relative;
	top:70px;
  text-align:center;
  margin-left: 15.5em;
  color:black;
}

.log2 h1 {
  position:relative;
  text-align:center;
  color:black;
  margin-left: 500px;
}

.log3{
  position:absolute;
	top:20%;
	left:32%;
  text-align:left;
  color:black;
  
}

.log .errore{
  color:red;
}

.formLogin{
	position:absolute;
	left:35%;
	top:5em;
	font-size:30px;
}

.formLogin button{
	width:100%;
	height:30px;
	font-size:20px;
	margin-top:10px;
	background-color:limegreen;
}

.prodotto {
  position:relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background:lightgrey;
  margin: 50px 70px 30px 50px;
  left:15px;
}

.prodotto img {
  width:100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.prodotto div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prodotto a {
	position:relative;
	color:black;
	font-size:20px;
}




.boxImage{
  position:relative;
  left:5%;
  top:10px;
  width:20em;
  height:40em;
  background-color:lightgray;
  
}

.boxImage img{
  width:100%;
  height: 100%;
  object-fit: contain;
  
}

.prodottoTitle{
  position:relative;
  right:50px;
}

.descrizioneProdotto{
  position:absolute;
  width:32em;
  height:20em;
  left:34%;
  top:30%;
 }

.descrizioneProdotto p{
  font-size:30px;
}

.prezzoVotoProdotto{
   position:absolute;
  width:32em;
  height:20em;
  left:34%;
  top:74.3%;
}

.prezzoVotoProdotto p{
  position:relative;
  bottom:10%;
  font-size:50px;
	border:solid;
  
}

.divRecensioni {
  position:absolute;
  left:67%;
  top:25%;
  width: 30%;
  height: 80%;
  border: 1px solid black;
  overflow: auto;
}

.Recensione{
  border-bottom: 0.5px solid;
  width:100%;
  height:25%;
}

.votoCommento{
  position:absolute;
	left:90%;
	font-size:20px;
  
}

.titoloCommento{
  position:absolute;
  float:right;
  width:100%;
   margin:25 0.1px;
  font-weight: bold;
  
}

.aggiungiCommento{
  position:relative;
  left:67%;
  top:80%;
  color:green;
  text-decoration:underline;
  font-size: 20px;
}

.nomeUtente{
  margin:left;
  font-weight: bold;
}

.testoCommento{
  position:absolute;
  float:right;
  width:100%;
	height:100px;
   margin:50 0.1px;
}

.rimuoviCommento{
  position:absolute;
  bottom:42em;
	right:0.01px;
  color:red;
}


.RiepilogoUtente{
	position:relative;
	left:25em;
	 top:10em;
	font-size:30px;
	width:25%;
	
}

.RiepilogoUtente div{
	margin:10px;
}

.RiepilogoUtente a{
	color:limegreen;
}

.formNew{
	position:relative;
	left:35%;
	top:10em;
	font-size:20px;
}

.formNew div{
	padding:5px;
}

.formNew button{
	position:relative;
	margin-top:10px;
	left:5%;
	width: 20%;
	height: 30px;
	background-color:limegreen;
}


.nomeUtenteLoggato{
	position:relative;
	font-weight: bold;
}

.formNew h4{
	position:relative;
	right:35%;
  font-size: 40px;
  text-align:center;
}

.listaFornitori{
	position:relative;
	left:40%;
	top:20%;
	font-size:25px;
	max-width: 50%;
}
